<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leonardo.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".ui.livecheck.LiveCheckActivity"
            android:screenOrientation="sensor" />

        <activity
            android:name=".ui.player.PlayerActivity"
            android:screenOrientation="sensor" />

        <!-- 作业一的页面 -->
        <activity
            android:name=".ui.feed.FeedActivity" />

        <!-- 启动页，一定要 android:exported="true" -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>